default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: myapp
  password: password1
development:
  <<: *default
  database: taksi_server_development
test: &test
  <<: *default
  database: taksi_server_test
production:
  <<: *default
  database: taksi_server_production

cucumber:
  <<: *test